<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>遵义市软件园</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/Public/mobile/css/common.css">
    <link rel="stylesheet" type="text/css" href="/Public/mobile/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/Public/mobile/css/m.css" >
    
    <script src="/Public/mobile/js/zepto.min.js"></script>
    <script src="/Public/mobile/js/swiper.min.js"></script>
</head>
<body>
<div class="zy-header">
    <div class="w1080">
        <div class="header-logo">
            <a href="../Home/index.html">
                <img src="/Public/mobile/img/logo.png"/>
            </a>
        </div>

        <a href="javascipt:;" class="nav-btn" id="J_nav">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="header-nav">
            <div class="nav-box">
                <div class="nav-item">
                    <a href="../Home/index.html" class="main-nav">首页</a>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">园区简介<i></i></a>
                    <ul class="sub-nav">
                        <li><a href="../About/index.html">园区介绍</a></li>
                        <li><a href="../About/leaders.html">领导班子</a></li>
                        <li><a href="../About/organization.html">组织机构</a></li>
                        <li><a href="../About/history.html">发展历程</a></li>
                        <li><a href="../About/honor.html">荣誉资质</a></li>
                        <li><a href="../About/culture.html">企业文化</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">新闻中心<i></i></a>
                    <ul class="sub-nav">
                        <li><a href='../News/news_list.html'>园区要闻</a></li>
                        <li><a href='../News/news_list.html'>园区动态</a></li>
                        <li><a href='../News/news_list.html'>专题</a></li>
                        <li><a href='../News/news_list.html'>媒体报道</a></li>
                        <li><a href='../News/news_list.html'>行业信息</a></li>
                        <li><a href='../News/video.html'>视频新闻</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">园区服务<i></i></a>
                    <ul class="sub-nav">
                        <li><a href='../Service/38.html'>IT技术服务</a></li>
                        <li><a href='../Service/39.html'>人力资源服务</a></li>
                        <li><a href='../Service/40.html'>企业孵化服务</a></li>
                        <li><a href='../Service/41.html'>投资融资服务</a></li>
                        <li><a href='../Service/42.html'>运营管理服务</a></li>
                        <li><a href='../Service/43.html'>生活配套服务</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">创新创业<i></i></a>
                    <ul class="sub-nav">
                        <li><a href='../Policy/industry.html'>主导产业</a></li>
                        <li><a href='../Policy/double.html'>双创政策</a></li>
                        <li><a href='../Policy/index.html'>产业政策</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">千人计划<i></i></a>
                    <ul class="sub-nav">
                        <li><a href='../Hpe/index.html'>项目介绍</a></li>
                        <li><a href='../Hpe/policy.html'>培训政策</a></li>
                        <li><a href='../Hpe/java.html'>课程介绍</a></li>
                        <li><a href="http://mp.weixin.qq.com/s/0QZA3QqZY-VQEecoYgfQIA" target="_blank">交通住宿</a></li>
                        <li><a href="http://event.3188.la/646339072/SingleTicket/646339113?guid=dfe53ec1-6026-4888-bcca-5bccf3c450f5&ticketInfos=%5b%7b%22TicketId%22%3a%22646339114%22%2c%22Number%22%3a%221%22%2c%22Code%22%3a%22%22%7d%5d&isShowContactInfo=False" target="blank">我要报名</a></li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a href="javascript:;" class="main-nav">投资促进<i></i></a>
                    <ul class="sub-nav">
                        <li><a href='../Invest/index.html'>政策优惠</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 3rem"></div>

<div class="zy-crumb" id="J_crumb">
    <div class="scroll">
        <ul>
            <li><a href='../Service/38.html'>IT技术服务</a></li>
            <li><a href='../Service/39.html'>人力资源服务</a></li>
            <li class="cur"><a href='../Service/40.html'>企业孵化服务</a></li>
            <li><a href='../Service/41.html'>投资融资服务</a></li>
            <li><a href='../Service/42.html'>运营管理服务</a></li>
            <li><a href='../Service/43.html'>生活配套服务</a></li>
        </ul>
    </div>
</div>

<div class="page-content">
    <div class="com-tuwen">
        <p class="title">企业孵化服务</p>
        <p>孵化空间：场地免租、拎包入驻、政策扶持、基金支持</p>
        <p>创业辅导：创业导师、管理咨询</p>
        <p><img src="http://www.zunyisp.org/Uploads/image/20170401/1491017823966278.png"/></p>
        <p>1.大学生创新创业园荣获2016年度省、市级创业孵化基地、海外学人众创空间等称号；</p>
        <p>2.2016年以建设众创空间孵化器为重点，全力推进大学生创新创业工作。2016年装修了启迪之星孵化器、文化+园创客空间、大学生青年俱乐部、路演剧场、众创食堂等，为创业者打造优质的创业环境，全力提升园区孵化能力；</p>
        <p>3.众创小镇顺利实现运营，截止2016年底现入驻企业达48家，孵化项目91个，在孵项目30余个，带动创业就业1500余人，并获批“2016年度省级创业孵化示范基地”。</p>
    </div>
</div>

<div class="zy-footer">
    <div class="infos">
        <dl>
            <dt>地址：</dt>
            <dd>遵义新蒲新区大学城平安街B2区1号楼1层<a href="http://j.map.baidu.com/AXSej" target="_blank">[地图]</a></dd>
        </dl>
        <dl>
            <dt>电话：</dt>
            <dd>0851-28791834</dd>
        </dl>
        <dl>
            <dt>邮箱：</dt>
            <dd>zsp201507@163.com</dd>
        </dl>
        <dl>
            <dt>邮编：</dt>
            <dd>563000</dd>
        </dl>
    </div>
    <div class="copy">
        <p>Copyright © 2017 贵州惠诚信息技术有限公司. All rights reserved. 黔ICP备12001935号-2</p>
    </div>
</div>
<script src="/Public/mobile/js/pagecommon.js"></script>
</body>
</html>