<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    
    <include file="Public:header" />
    <title>{$cname} - 合作者关系 - 黔北酒乡网</title>
</head>

<body>
    <div class="top">
        <include file="Public:nav" />
    </div>
    <div class="box-ntop" style="background-image: url({$banner});background-color: #76C0DE;"></div>
    <div class="box-n-1200">
        <div class="zuobian tyyj-gy">
            <div class="list-title yuanjiao">合作者关系</div>
            <ul>
                <volist name="cate" id="v">
                <li class="dangqian"><span class="iocyb">&gt;</span><a  <if condition="$v.type eq 1">href="__APP__/Home/Business/show/cid/{$v.id}"<else/>href="__APP__/Home/Business/relate/cid/{$v.id}"</if> >{$v.cname}</a></li>
                </volist>
            </ul>
        </div>
        <div class="youbian tyyj-gy">
            <div class="y_title">
                <!-- <h2>财务报告</h2> -->
                <p><a href="/">首页</a><span> &gt; </span><a href="__APP__/Home/Business/index">合作者关系</a> > {$cname} </p>
            </div>
            <ul class="list-nw" style="min-height:500px;">
                <volist name="mess" id="v">
                <li><span class="date">{$v.news_time|date="Y-m-d",###} </span><a href="__APP__/Home/Business/detail/id/{$v.id}">{$v.title} </a></li>
                </volist>
            </ul>
            <div id="pages" <if condition="$totalPage eq 0"> style="display:none;"</if> >
                <if condition="$page elt 1">
                    <else/>
                <a href="__APP__/Home/Business/show/cid/{$cid}/page/{$page-1}" class="a1">上一页</a> 
                </if>
                <span>{$page}/{$totalPage}</span>  
                <if condition="$page egt $totalPage">
                    <else/>
                <a href="__APP__/Home/Business/show/cid/{$cid}/page/{$page+1}" class="a1">下一页</a> 
                </if>
                <a class="a1">{$article_count}条</a> 
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="dibu">
        <include file="Public:footer" />
    </div>
</body>

</html>