<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- <LINK rel="Bookmark" href="/favicon.ico" > -->
<LINK rel="Shortcut Icon" href="IMG_PATH{$system.ico}" />
<block name="static">

</block>
<title>{$system.title|default="惠诚"}</title>
<meta name="keywords" content="{$system.keywords}">
<meta name="description" content="{$system.description}">

</head>
<body>
<block name="header">
<include file="Public:header"/>

</block>



<!-- <div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div> -->
<section class="Hui-article" style="top:44px;">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href="welcome.html">我的桌面</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			

			<block name="main">
			<div class="page-container">
				<p class="f-20 text-success">欢迎使用省黔集团 <span class="f-14">v2.4</span>后台系统！</p>
				<p>登录次数：18 </p>
				<p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p>
				<table class="table table-border table-bordered table-bg">
					<thead>
						<tr>
							<th colspan="7" scope="col">信息统计</th>
						</tr>
						<tr class="text-c">
							<th>统计</th>
							<th>资讯库</th>
							<th>图片库</th>
							<th>产品库</th>
							<th>用户</th>
							<th>管理员</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-c">
							<td>总数</td>
							<td>92</td>
							<td>9</td>
							<td>0</td>
							<td>8</td>
							<td>20</td>
						</tr>
						<tr class="text-c">
							<td>今日</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr class="text-c">
							<td>昨日</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr class="text-c">
							<td>本周</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr class="text-c">
							<td>本月</td>
							<td>2</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			</block>

			

		</div>
	</div>
</section>
<block name="footer">
				<include file="Public:footer"/>
			</block>
<block name="modal">
			
</block>
<block name="script">

</block>
</body>
</html>