<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
    <style type="text/css">
            #menu-System dt a:hover{
                text-decoration: none;
            }
        </style>
        <dl id="menu-article">
            <dt <if condition="$controller_name eq 'Content'">class="selected" style="background:#5A98DE;color:white;"</if>><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd <if condition="$controller_name eq 'Content'">style="display:block;"</if>>
                <ul>
                    <li ><a href="__APP__/Home/Content/index.html" data-title="文章管理" <if condition="($controller_name eq 'Content') and ($action_name eq 'index')">style="font-weight:bold;font-style: italic;"</if>>文章管理</a></li>
                    <li ><a href="__APP__/Home/Content/links.html" data-title="友情链接" <if condition="($controller_name eq 'Content') and ($action_name eq 'links')">style="font-weight:bold;font-style: italic;"</if>>友情链接</a></li>
                    <li><a href="__APP__/Home/Content/demand.html" data-title="购买申请" <if condition="($controller_name eq 'Content') and ($action_name eq 'demand')">style="font-weight:bold;font-style: italic;"</if>>购买申请</a></li>
                    <li><a href="__APP__/Home/Content/message.html" data-title="留言簿" <if condition="($controller_name eq 'Content') and ($action_name eq 'message')">style="font-weight:bold;font-style: italic;"</if>>留言簿</a></li>
                </ul>
            </dd>
        </dl>
        <if condition="$Think.session.usermsg.roleid eq '2'">
        <else/>
        
        <dl id="menu-System">
            <dt <if condition="$controller_name eq 'Manager'">class="selected" style="background:#5A98DE;color:white;"</if>><a href="__APP__/Home/Manager/index.html" ><i class="Hui-iconfont">&#xe62d;</i> 用户管理</a></dt>
           <!--  <dd <if condition="$controller_name eq 'Manager'">style="display:block;"</if>>
                <ul>
                    <li><a href="__APP__/Manager/index" data-title="管理员" href="javascript:void(0)" <if condition="($controller_name eq 'Manager') and ($action_name eq 'index')">style="font-weight:bold;font-style: italic;"</if>>管理员</a></li>
                </ul>
            </dd> -->
        </dl>
        <dl id="menu-system">
            <dt <if condition="$controller_name eq 'System'">class="selected" style="background:#5A98DE;color:white;"</if>><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd <if condition="$controller_name eq 'System'">style="display:block;"</if>>
                <ul>
                    <li><a href="__APP__/Home/System/index.html" data-title="系统设置" href="javascript:void(0)" <if condition="($controller_name eq 'System') and ($action_name eq 'index')">style="font-weight:bold;font-style: italic;"</if>>系统设置</a></li>
                    <li><a href="__APP__/Home/System/system_log.html" data-title="系统日志" href="javascript:void(0)" <if condition="($controller_name eq 'System') and ($action_name eq 'system_log')">style="font-weight:bold;font-style: italic;"</if>>系统日志</a></li>
                </ul>
            </dd>
        </dl>
        </if>
    </div>
</aside>
