<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <include file="Public:header"/>
</head>

<body>
    <div class="top">
            <include file="Public:nav"/>
    </div>
    <div class="fullSlide">
        <div class="bd">
            <ul>
                <volist name="banner" id="v" offset="0" length="5">
                <li _src="url({$v.route})" style="background-color:#;background-repeat: no-repeat;background-position: center top;"><a href="__APP__/Home/News/detail/id/{$v.id}" target="_blank"></a></li>
                </volist>
            
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
        <span class="prev"></span>
    <span class="next"></span></div>
    </div>
    
    <script type="text/javascript">
    /* 控制左右按钮显示 */
    jQuery(".fullSlide").hover(function() { jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5) }, function() { jQuery(this).find(".prev,.next").fadeOut() });

    /* 调用SuperSlide */
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function(i) {
            var curLi = jQuery(".fullSlide .bd li").eq(i); /* 当前大图的li */
            if (!!curLi.attr("_src")) {
                curLi.css("background-image", curLi.attr("_src")).removeAttr("_src") /* 将_src地址赋予li背景，然后删除_src */
            }
        }
    });
    </script>
    <div class="txtMarquee-left">
        <div class="bd">
            <ul class="infoList">
                <volist name="gonggao" id="v">
                <li>&#8226; <a href="__APP__/Home/News/detail/id/{$v.id}">{$v.title}</a><span>[{$v.news_time|date="Y-m-d",###}] </span></li>
                </volist>
               
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    jQuery(".txtMarquee-left").slide({ mainCell: ".bd ul", autoPlay: true, effect: "leftMarquee", vis: 2, interTime: 50 });
    </script>
    <div class="index-box">
        <div class="index-b tyyj-gy yuanjiao">
            <div class="focusBox" style="margin:0 auto">
                <ul class="pic">
                    <volist name="pics" id="v">
                    <li><a href="{$v.link}" title="{$v.name} "><img src="{$v.route}" title="{$v.name} "/></a></li>
                    </volist>
                   <!--  <li><a href="http://www.moutaichina.com/xinwen/2018/3877.html" title="居安思危，茅台长三角寻找新标杆、新标兵 "><img src="picture/thumb_378_210_20180701051939477.jpg" title="居安思危，茅台长三角寻找新标杆、新标兵 "/></a></li>
                    <li><a href="http://www.moutaichina.com/xinwen/2018/3876.html" title="西湖畔 钱塘边，“茅台酱香•万家共享”闪耀—杭州 "><img src="picture/thumb_378_210_20180701050857114.jpg" title="西湖畔 钱塘边，“茅台酱香•万家共享”闪耀—杭州 "/></a></li> -->
                </ul>
                <div class="txt-bg"></div>
                <div class="txt">
                    <ul>
                        <volist name="pics" id="v">
                        <li><a href="{$v.link}">{$v.name}...</a></li>
                        </volist>
                     <!--    <li><a href="http://www.moutaichina.com/xinwen/2018/3877.html">居安思危，茅台长三角寻找新标杆、新标兵 </a></li>
                        <li><a href="http://www.moutaichina.com/xinwen/2018/3876.html">西湖畔 钱塘边，&ldquo;茅台酱香•万家共享...</a></li> -->
                    </ul>
                </div>
                <ul class="num">
                    <volist name="pics" key="k" id="v">
                    <li><a>{$k}</a><span></span></li>
                    </volist>
                  <!--   <li><a>2</a><span></span></li>
                    <li><a>3</a><span></span></li> -->
                </ul>
            </div>
            <script type="text/javascript">
            jQuery(".focusBox").slide({
                titCell: ".num li",
                mainCell: ".pic",
                effect: "fold",
                autoPlay: true,
                trigger: "click",
                //下面startFun代码用于控制文字上下切换
                startFun: function(i) {
                    jQuery(".focusBox .txt li").eq(i).animate({ "bottom": 0 }).siblings().animate({ "bottom": -36 });
                }
            });
            </script>
            <div class="clear"></div>
            <div class="index-h1"><span class="more"><a href="__APP__/Home/About/about">+更多</a></span>
                <h2>企业概况</h2></div>
            <ul class="index_list">
                <volist name="gaikuang" id="v">
                <li><a href="__APP__/Home/About/about/cid/{$v.cid}">{$v.title} </a></li>
                </volist>
            </ul>
        </div>
        <div class="index-b tyyj-gy yuanjiao"><img src="{$newspics.route}" width="378" height="210" />
            <div class="index-h1"><span class="more"><a href="__APP__/Home/News/index">+更多</a></span>
                <h2>新闻资讯</h2></div>
            <ul class="index_list">
                <volist name="xinwen" id="v">
                <li><a href="__APP__/Home/News/detail/id/{$v.id}" title="{$v.title}">{$v.title|mb_substr=0,15,'utf-8'}... </a><span>[{$v.news_time|date="Y-m-d",###}] </span></li>
                </volist>
            </ul>
        </div>
        <div class="index-c tyyj-gy yuanjiao"> <a href="/"><img src="{$servicepics.route}" title="台酿盛宴新品发布会" width="382" height="210" border="0" /></a>
            <div class="index-h1"><span class="more"><a href="__APP__/Home/Service/index">+更多</a></span>
                <h2>服务中心</h2></div>
            <ul class="index_tzz">
                <volist name="fuwu" id="v">
                <li><a href="__APP__/Home/Service/index/cid/{$v.cid}">{$v.title} </a></li>
                </volist>
                
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="slideGroup tyyj-gy" style="margin:0 auto;margin-bottom: 30px;">
        <div class="parHd">
            <ul>
                <h3>产品中心</h3>
                <volist name="goods_cate" id="v">
                <li>{$v.cname}</li>
                </volist>
            </ul>
            <!-- <div class="shangcheng"><a href="http://www.emaotai.cn/" target="_blank">网上商城</a></div> -->
            <span><a href="__APP__/Home/Goods/index">+更多产品</a></span> </div>
        <div class="parBd">
            <foreach name="goods" item="v" >
            <div class="slideBox" style="height: 140px;">
                <a class="sPrev" href="javascript:void(0)"></a>
                <ul>
                    <volist name="v" id="vo">
                    <li>
                        <div class="pic"><a href="__APP__/Home/Goods/detail/id/{$vo.id}" title="{$vo.name}"><img src="{$vo.picture}" title="{$vo.name}"/></a></div>
                        <div class="title"><a href="__APP__/Home/Goods/detail/id/{$vo.id}" target="_blank">{$vo.name|mb_substr=0,10,'utf-8'}...</a></div>
                    </li>
                    </volist>
                   
                </ul> 
                <a class="sNext" href="javascript:void(0)"></a>
            </div>
            </foreach>
           
        </div>
        <!-- parBd End -->
    </div>
    <script type="text/javascript">
    jQuery(".slideGroup .slideBox").slide({ mainCell: "ul", vis: 8, prevCell: ".sPrev", nextCell: ".sNext", effect: "leftLoop" });

    jQuery(".slideGroup").slide({ titCell: ".parHd li", mainCell: ".parBd" });
    </script>
    <!-- <div class="dibu-ioc">
        <a href="http://www.gzaic315.gov.cn/ei/Ei!certificate.action?id=4028808a3f22cd16013f26ee61b00005" target="_blank"><img src="picture/20160729031501416.jpg" width="1200" height="74" border="0" usemap="#Map" /></a>
       
    </div> -->
    <div class="dibu">
         <include file="Public:footer"/>
    </div>
   <!--  <script type="text/javascript">
    var browser = {
        versions: function() {
            var u = navigator.userAgent,
                app = navigator.appVersion;
            return { //移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    }

    if (browser.versions.mobile || browser.versions.ios || browser.versions.android || browser.versions.iPhone || browser.versions.iPad) {
        window.location = "index.php?m=wap&siteid=1";
    }
    </script> -->
</body>

</html>