<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>遵义市软件园</title>
    <link rel="stylesheet" href="/Public/mobile/style/frozen.css" type="text/css" />
    <link rel="stylesheet" href="/Public/mobile/style/css.css" type="text/css" />
    <link type="text/css" href="/Public/mobile/style/font-awesome.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="/Public/mobile/js/jquery-3.1.1.min.js"></script> 
    <script type="text/javascript" src="/Public/mobile/js/xiala.js"></script><!--下拉菜单-->
    <script src="/Public/mobile/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="/Public/mobile/js/main.js"></script> 
    <style type="text/css">
        .mgs_about p img {
            width: 100% !important;
            height: auto !important;
        }
        .in_title li {
            font-size: 12px;
            width: 25%;
            z-index: 1000000!important;
        }
        .in_new,.in_new .in_title ,.in_new .in_title  a {
            z-index: 1000000!important;
        }
        .in_con li{
            height: auto;list-style-type:none;padding-left: 0px;
        }
        table {
            width: 100%;

        }
        table tr td {
            width: 33.3333%;
            font-size: 12px;
            padding: 0px 0px;
            text-align: center;
            background: #F6F6F6;
        }
    </style>
</head>

<body style="background-color:#fff;">
<include file="Public:menu"/>



<div class="two_xiala">
    <ul id="accordion1" class="accordion1">
        <li>
            <div class="link">课程介绍</div>
           <!--  <ul class="submenu" style="display: ;">
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
            </ul> -->
        </li>
    </ul>

</div>
<!-- two_xiala end -->
<div class="in_new w100">
    <ul class="in_title w96 clearfix">
        <li style="font-size: 14px;"><a>Java</a></li>
        <li style="font-size: 14px;"><a>软件测试</a></li>
        <li style="font-size: 14px;"><a>大数据</a></li>
        <li style="font-size: 14px;"><a>WEB前端</a></li>
        
    </ul>
    <div class="in_content w100">
        <div>
            <ul class="in_con">
                <li><p>编程性语言 适用于手机端和电脑端 与之相关专业：计算机科学与技术、软件工程、电子商务、计算机信息管理、电子信息工程、光电信息科学工程、电子科学与技术、通信工程、机械及自动化相关专业。</p>
                <p style="font-size:1rem">专业前景</p>
                <p>Java是目前世界上最流行的计算机编程语言，Java软件工程师的就业机会和前景是非常大的。再加上Java软件工程师不仅IT专业企业需要,广大的非IT企业也需要。前景是非常乐观的。</p>
                <p style="font-size:1rem">课程体系</p>
                <p>在Java课程培训周期内，培养学员具备企业级软件项目分析与研发经验，能够合理运用Java语言与语法，掌握面向对象的开发与设计思想；理解Java主流开发技术框架，深入了解 B/S程序的特点，能够熟练使用JavaEE平台技术，开发出高性能高复用性的JavaEE企业级应用程序。通过学习任务完成情况及考试成绩，在综合评定后将会获得课程认证证书。</p>
                <p>
                    <table>
                        <tr>
                            <td>基础篇 金字塔</td>
                            <td>高级篇</td>
                            <td>实战篇</td>
                        </tr>
                        <tr>
                            <td>Java 语言编程基础及应用</td>
                            <td>前端应用技术开发</td>
                            <td>企业级项目实践—JavaEE实现</td>
                        </tr>
                        <tr>
                            <td>Java Web 实用开发技术</td>
                            <td>基于 SSH 实现企业级应用开发</td>
                            <td></td>
                        </tr>
                    </table>
                </p>
                <p style="font-size:1rem">从事岗位及薪资待遇</p>
                <p>可从事岗位：Java研发工程师，Java游戏开发工程师，Java后端工程师，大数据分析师，Java运维工程师，及JavaEE工程师等。</p>
                <p>根据IDC的统计数字，在所有软件开发类人才的需求中，对Java工程师的需求达到全部需求量的60%—70%。同时，Java工程师的薪水相对较高。Java软件工程师一般月薪范围在4k—10k，远远超过了应届毕业生月薪2.5k的平均水平。通常来说，有一年工作经验的Java软件工程师的薪酬大致在月薪8k—10k左右。</p>
                <p style="font-size:1rem">职业发展：</p>
                <p>一是成为管理人员，例如产品研发经理，技术经理，项目经理等；二是延续技术工作之路，成为高级软件工程师、需求工程师，软件架构师等。</p></li>
            </ul>
        </div>
        <div>
            <ul class="in_con">
                <li><p>软件测试（Software Testing），描述一种用来促进鉴定软件的正确性、完整性、安全性和质量的过程。换句话说，软件测试是一种实际输出与预期输出间的审核或者比较过程。软件测试的经典定义是：在规定的条件下对程序进行操作，以发现程序错误，衡量软件质量，并对其是否能满足设计要求进行评估的过程。</p>
                <p>软件测试技术是软件开发过程中的一个重要组成部分，是贯穿整个软件开发生命周期、对软件产品（包括阶段性产品）进行验证和确认的活动过程，其目的是尽快尽早地发现在软件产品中所存在的各种问题——与用户需求、预先定义的不一致性。检查软件产品的bug。写成测试报告，交于开发人员修改。</p>
                <p style="font-size:1rem">专业前景</p>
                <p>近几年来，中国软件业保持了每年超过30%的高速发展态势，但整体规模与软件业发达的国家间仍有着较大差距，在软件业发达国家，软件测试人员与开发人员之比接近1:1，而在中国该比例仅为1:8左右，很多企业没有专门的测试职位。业内专家预计，在未来5到10年中，我国IT业对软件测试人才的需求数字还将继续增大。随着测试重要性的日趋突显，我国软件测试人才正处于一个“双高”地位，即地位高、待遇高，职场前景非常广阔。</p>
                <p style="font-size:1rem">课程体系</p>
                <p>通过软件测试课程培训，培养学员具备软件测试的实际项目经验，熟练掌握软件测试必须的基础理论知识及测试技能，理解测试设计思想及原理，熟练使用软件测试工具完成项目的测试任务。能够运用所学的测试基础知识分析需求与设计测试用例，编写测试缺陷报告及项目报告；掌握测试工具（ALM、UFT、LoadRunner等）的实际应用，具备手工测试、功能自动化测试及性能测试项目的实践经验，能够达到一年以上的测试工程师所具备的测试技术水平。通过学习任务完成情况及考试成绩，在综合评定后将会获得课程认证证书。</p>
                <p>
                    <table >
                        <tr>
                            <td>基础篇</td>
                            <td>高级篇</td>
                            <td>实战篇</td>
                        </tr>
                        <tr>
                            <td>现代软件测试基础</td>
                            <td>软件功能测试</td>
                            <td>代码可靠性测试实践</td>
                        </tr>
                        <tr>
                            <td>软件开发基础</td>
                            <td>软件性能测试</td>
                            <td>软件安全测试实践</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>软件测试管理</td>
                            <td>软件测试综合实践</td>
                        </tr>
                    </table>
                </p>
                <p style="font-size:1rem">从事岗位及薪资待遇</p>
                <p>开发测试工程师，功能测试工程师，自动化测试工程师，性能测试工程师，安全测试工程师等。目前国内软件测试人才缺口高达30万，已成为我国软件产业发展的瓶颈之一。在大型软件开发企业中，软件测试工程师基本处于“双高”地位，即地位高、待遇高，月薪可高达7k—8k。中小规模软件企业月薪在4k—6k左右的居多。</p>
                <p style="font-size:1rem">职业发展：</p>
                <p>软件测试人才更强调经验积累，在几年的测试经验背景下，可以逐步转向管理或者资深测试工程师，担当测试经理或者部门主管。</p></li>
            </ul>
        </div>
        <div>
            <ul class="in_con">
                <li><p>大数据（big data），指无法在一定时间范围内用常规软件工具进行捕捉、管理和处理的数据集合，是需要新处理模式才能具有更强的决策力、洞察发现力和流程优化能力的海量、高增长率和多样化的信息资产。</p>
                <p>大数据的出现简单的讲是海量数据同完美计算能力结合的结果。确切的说是移动互联网、物联网产生了海量的数据，大数据计算技术完美地解决了海量数据的收集、存储、计算、分析的问题。大数据时代开启人类社会利用数据价值的另一个时代。</p>
                <p style="font-size:1rem">专业前景</p>
                <p>大数据是新兴技术领域，是信息技术与专业技术、信息技术产业与各行业领域紧密融合的典型领域，有着旺盛的应用需求、广阔的应用前景。未来是一个数据的时代，也是数据科学家的时代!</p>
                <p style="font-size:1rem">课程体系</p>
                <p>通过编程语言与大数据知识理论学习、上机案例实践与企业级大数据项目实战，使学员快速掌握大数据的基础原理及实际应用；课程内容设计由浅入深，逐步提升学生学习效果；通过实训课程的学习与实践，掌握大数据常用关键技术与工具框架的配置应用，具备大数据分析与数据管理的能力。同时，培养学员养成独立解决问题的能力。通过学习任务完成情况及考试成绩，在综合评定后将会获得课程认证证书。</p>
                <p>
                    <table>
                        <colgroup>
                            <col width="30%">
                            <col>
                            <col width="30%">
                        </colgroup>
                        <tr>
                            <td>基础篇</td>
                            <td>高级篇<br>技术进阶</td>
                            <td>实战篇</td>
                        </tr>
                        <tr>
                            <td>Java语言编程基础及应用</td>
                            <td>Hadoop入门基础及高级应用</td>
                            <td>企业级大数据项目实践</td>
                        </tr>
                        <tr>
                            <td>Linux基础</td>
                            <td>Hbase，Zookeeper，Sqoop，Hive，Flume，kafka等配置应用</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Scala编程基础</td>
                            <td>Spark实战技术</td>
                            <td></td>
                        </tr>
                    </table>
                </p>
                <p style="font-size:1rem">从事岗位及薪资待遇</p>
                <p>开发测试工程师，功能测试工程师，自动化测试工程师，性能测试工程师，安全测试工程师等。目前国内软件测试人才缺口高达30万，已成为我国软件产业发展的瓶颈之一。在大型软件开发企业中，软件测试工程师基本处于“双高”地位，即地位高、待遇高，月薪可高达7k—8k。中小规模软件企业月薪在4k—6k左右的居多。</p>
                <p style="font-size:1rem">职业发展：</p>
                <p>软件测试人才更强调经验积累，在几年的测试经验背景下，可以逐步转向管理或者资深测试工程师，担当测试经理或者部门主管。</p></li>
            </ul>
        </div>
        <div>
            <ul class="in_con">
                <li><p>Web前端这一技术是从美工演变而来的，其名称具有很明显的时代特征。由网页制作到Web前端工程师这个职业名词的转变就意味着Web前端开发已经越来越趋向专业化、职业化，同时从这个新名词也可以看出IT业界已经逐渐意识到前端工程师的重要性。</p>
                <p style="font-size:1rem">专业前景</p>
                <p>现在越来越多的IT企业对用户体验更加注重，因此web前端人员的需求量也是越来越大。与此同时web前端中的HTML5技术更是日趋成熟，HTML5是移动互联网前端的主流开发语言，目前还没有任何一种前端开发技术能够取代HTML5。无论是PC端还是APP端的应用，前端样式都离不开HTML5。从事HTML5或者web相关的开发工作的就业前景未来非常好。</p>
                <p style="font-size:1rem">课程体系</p>
                <p>通过前端技术理论学习，上机训练，以及企业级综合项目开发实践，培养学员具备从事HTML5或者Web相关的技术开发工作，掌握需求分析及系统设计的实践能力，提升学员的项目实战经验；能够熟练掌握前端开发技术(HTML5、JavaScript、Ajax、Jason、CSS等)，理解当前流行的前端开发设计架构与框架（JQuery、AngularJS、Bootstrap等）；能够熟练应用前端开发技术，严格按照开发项目标准流程，设计并实现前端开发领域的实际项目。通过学习任务完成情况及考试成绩，在综合评定后将会获得课程认证证书。</p>
                <p>
                    <table>
                        <colgroup>
                            <col width="33%">
                            <col width="34%">
                            <col width="33%">
                        </colgroup>
                        <tr>
                            <td>基础篇</td>
                            <td>高级篇<br>技术进阶</td>
                            <td>实战篇</td>
                        </tr>
                        <tr>
                            <td>前端开发基础<br>（HTML5&CSS3）</td>
                            <td>最佳工具实战技巧</td>
                            <td>前端开发项目实践</td>
                        </tr>
                        <tr>
                            <td>前端开发基础<br>（JavaScript&JQuery）</td>
                            <td>流行框架实践</td>
                            <td></td>
                        </tr>
                    </table>
                </p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p></li>
            </ul>
        </div>
        
    </div>
</div>

<div class="clear"></div>
<div class="fixed_bottom w100 clearfix" style="background: #bbb">
    <ul class="in_title2 w96 clearfix">
        <li><a href="__APP__/Hpe/index/cid/{$v.id}.html">项目介绍</a></li>
        <li><a href="__APP__/Hpe/policy/cid/{$v.id}.html">培训政策</a></li>
        <li class="current"><a href="__APP__/Hpe/java/cid/{$v.id}.html">课程介绍</a></li>
        <li><a href="http://mp.weixin.qq.com/s/0QZA3QqZY-VQEecoYgfQIA" target="_blank">交通住宿</a></li>
        <li><a href="http://event.3188.la/646339072/SingleTicket/646339113?guid=dfe53ec1-6026-4888-bcca-5bccf3c450f5&ticketInfos=%5b%7b%22TicketId%22%3a%22646339114%22%2c%22Number%22%3a%221%22%2c%22Code%22%3a%22%22%7d%5d&isShowContactInfo=False" target="blank">我要报名</a></li>
        
    </ul>
</div>
<include file="Public:footer"/>
</body>
</html>
