<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>遵义市软件园</title>
    <link rel="stylesheet" href="/Public/mobile/style/frozen.css" type="text/css" />
    <link rel="stylesheet" href="/Public/mobile/style/css.css" type="text/css" />
    <link type="text/css" href="/Public/mobile/style/font-awesome.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="/Public/mobile/js/jquery-3.1.1.min.js"></script> 
    <script type="text/javascript" src="/Public/mobile/js/xiala.js"></script><!--下拉菜单-->
    <script src="/Public/mobile/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="/Public/mobile/js/main.js"></script> 
    <style type="text/css">
        .mgs_about p img {
            width: 100% !important;
            height: auto !important;
        }
        .in_title li {
            font-size: 12px;
            width: 16.555555555%;
            z-index: 1000000!important;
        }
        .in_new,.in_new .in_title ,.in_new .in_title  a {
            z-index: 1000000!important;
        }
    </style>
</head>

<body style="background-color:#fff;">
<include file="Public:menu"/>



<div class="two_xiala">
    <ul id="accordion1" class="accordion1">
        <li>
            <div class="link">培训政策</div>
        </li>
    </ul>

</div>
<!-- two_xiala end -->

<div class="mgs_about w96">
    <h1 style="font-size: 16px;text-align: center;margin-bottom: 10px;">遵义大数据千人培养计划</h1>
     
    <h4 style="text-align: center;color: black;font-size: 14px;margin-bottom: 10px;">让进取的人更具职业价值</h4>
    <hr style="margin-top: 5px;" />
    <img src="http://www.zunyisp.org/Public/app/hpe/img/policy.jpeg" width="100%"/>
</div>

<div class="clear"></div>
<div class="fixed_bottom w100 clearfix" style="background: #bbb">
    <ul class="in_title2 w96 clearfix">
        <li><a href="__APP__/Hpe/index/cid/{$v.id}.html">项目介绍</a></li>
        <li class="current"><a href="__APP__/Hpe/policy/cid/{$v.id}.html">培训政策</a></li>
        <li><a href="__APP__/Hpe/java/cid/{$v.id}.html">课程介绍</a></li>
        <li><a href="http://mp.weixin.qq.com/s/0QZA3QqZY-VQEecoYgfQIA" target="_blank">交通住宿</a></li>
        <li><a href="http://event.3188.la/646339072/SingleTicket/646339113?guid=dfe53ec1-6026-4888-bcca-5bccf3c450f5&ticketInfos=%5b%7b%22TicketId%22%3a%22646339114%22%2c%22Number%22%3a%221%22%2c%22Code%22%3a%22%22%7d%5d&isShowContactInfo=False" target="blank">我要报名</a></li>
        
    </ul>
</div>
<include file="Public:footer"/>
</body>
</html>
