<extend name="Public:base" />
<block name="main">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理</nav>
    <div class="page-container">
            <div class="text-l">
                
                <h4>台酿盛宴原浆酒-相册<button name="" id="" class="btn btn-primary" type="button" onclick="window.location.href='__APP__/Admin/Goods/photos_add/cid/{$cid}.html';"style="float: right;"><i class="Hui-iconfont">&#xe600;</i> 添加</button></h4>
                
            </div>
    </div>
    <div class="container">
    <div class="portfolio-content">
        <ul class="cl portfolio-area">
            <volist name="mess" id="v">
            <li class="item">
                <div class="portfoliobox">
                    <a href="javascript:;" class="checkbox"  style="display: block;color: black;top: -8px;right: -2px;text-decoration: none;" onclick="img_del({$v.id})"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    <!-- <input class="checkbox" name="" type="checkbox" value=""> -->
                    <div class="picbox">
                        <a href="{$v.route}" data-lightbox="gallery" data-title="{$v.name}"><img src="{$v.route}" style="max-height: 100px;"></a>
                    </div>
                    <div class="textbox">{$v.name} </div>
                </div>
            </li>
            </volist>
        </ul>
    </div>
</div>

    </div>
    <script type="text/javascript">
        
    function datadel() {
        $("#datadel_form").submit();
    }

    function img_del(id) {
        layer.confirm("确定要删除吗？", function() {
            $.get("__APP__/Admin/Goods/img_del", {
                id: id
            }, function(msg) {
                if (msg == 200) {
                    layer.msg('已删除!', {
                        icon: 5,
                        time: 1000
                    }, function() {
                        window.location.reload();
                    });
                } else {
                    layer.msg('删除失败!');
                }
            });
        });
    }
  


    function do_sort(id) {
        var sort = $("input[name=sort" + id + "]").val();
        $.get("__APP__/Admin/Goods/done_sort", {
            id: id,
            sort: sort
        }, function(msg) {
            if (msg == '200') {
                location.reload();
            } else {
                layer.msg('排序出现错误!', {
                    icon: 5,
                    time: 1000
                });
            }
        })
    }

    </script>
</block>
