<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>遵义市软件园</title>
    <link rel="stylesheet" href="/Public/mobile/style/frozen.css" type="text/css" />
    <link rel="stylesheet" href="/Public/mobile/style/css.css" type="text/css" />
    <link type="text/css" href="/Public/mobile/style/font-awesome.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="/Public/mobile/js/jquery-3.1.1.min.js"></script> 
    <script type="text/javascript" src="/Public/mobile/js/xiala.js"></script><!--下拉菜单-->
    <script src="/Public/mobile/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="/Public/mobile/js/main.js"></script> 
    <style type="text/css">
        .mgs_about p img {
            width: 100% !important;
            height: auto !important;
        }
        .in_title1 li {
            font-size: 12px;
            width: 33.3333%;
            z-index: 1000000!important;
        }
        .in_new,.in_new .in_title ,.in_new .in_title  a {
            z-index: 1000000!important;
        }
        .in_enter dl{
            width: 23%;
            margin: 5px 0;

        }
        .in_enter dl dt img{
            height: 100px;
        }
        .in_enter dl dd{
            top: 77px;
            position: static;
        }
        .in_enter dl dd a{
            color: black;
            font-weight: bold;
        }
    </style>
</head>

<body style="background-color:#fff;">
<include file="Public:menu"/>



<div class="two_xiala">
    <ul id="accordion1" class="accordion1">
        <li>
            <div class="link">新闻中心</div>
           <!--  <ul class="submenu" style="display: ;">
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
                <li><a href="#">企业简介</a></li>
            </ul> -->
        </li>
    </ul>

</div>
<!-- two_xiala end -->

<div class="mgs_about w96">
    <p>至2016年底，园区共投入建设资金8亿元，建成研发楼12万㎡，在建36万㎡。引进了惠普、中兴、光启、禾苗、财富之舟、弘年、沃特沃德、晶源动力、贵州省智能终端检测中心等软件及大数据企业74家，从业人员2000人。成功设立2支创业投资基金，基金规模1.9亿元。软件园采取“管委会+公司”的运作模式，先后组建了园区开发公司、双创服务公司、投资管理公司、基金管理公司、大数据运用示范公司、信息技术服务公司、人力资源服务公司和生活配套服务公司等，着力打造遵义软件园投资集团，全力为不同发展阶段的入驻企业提供IT技术、人力资源、企业孵化、投资融资、运营管理、生活配套等服务。</p>
        <h1 style="font-size: 16px;text-align: center;margin: 10px 0;">主导产业</h1>
        <p>遵义软件园积极打造软件及大数据产业集聚区，紧紧围绕新蒲经开区智能终端制造产业和遵义大学城人才资源优势，打造产业链成长引擎，构建产业链重要支撑体系。经过多年布局优化，园区主导产业涵盖智能终端软件研发、服务外包、呼叫中心、移动互联、电子商务、文化创意和行业应用等多个领域，示范和引领作用日渐显著。园区积极引进业界领先的战略客户，不断加大战略选商力度，不断优化调整产业结构。</p>
      <!--   <ul class="id-list clearfix">
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1206172.png" alt="服务外包">
                <div>服务外包</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1081457.png" alt="软件研发">
                <div>软件研发</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1206703.png" alt="呼叫中心">
                <div>呼叫中心</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1082303.png" alt="大数据">
                <div>大数据</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1113608.png" alt="云计算">
                <div>云计算</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/511743.png" alt="互联网+">
                <div>互联网+</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1206714.png" alt="电子商务">
                <div>电子商务</div>
            </li>
            <li>
                <img src="http://www.zunyisp.org/Public/app/picture/1175788.png" alt="游戏动漫">
                <div>游戏动漫</div>
            </li>
        </ul> -->
    <div class="in_enter w96 clearfix">
        <dl class="bg1">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1206172.png" alt="服务外包"></dt>
            <dd>
                <!-- <a href="#"><img src="images/icon1.png" /></a> -->
                <a href="javascript:;">服务外包</a>
            </dd>
        </dl>
        <dl class="bg2">
            <dt><img src="http://www.zunyisp.org/Public/app/picture/1081457.png" alt="软件研发"></dt>
            <dd>
                <!-- <a href="#"><img src="images/icon2.png" /></a> -->
                <a href="javascript:;">软件研发</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1206703.png" alt="呼叫中心"></dt>
            <dd>
                <a href="javascript:;">呼叫中心</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1082303.png" alt="大数据"></dt>
            <dd>
                <a href="javascript:;">大数据</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1113608.png" alt="云计算"></dt>
            <dd>
                <a href="javascript:;">云计算</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt>  <img src="http://www.zunyisp.org/Public/app/picture/511743.png" alt="互联网+"></dt>
            <dd>
                <a href="javascript:;">互联网+</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1206714.png" alt="电子商务"></dt>
            <dd>
                <a href="javascript:;">电子商务</a>
            </dd>
        </dl>
        <dl class="bg4">
            <dt> <img src="http://www.zunyisp.org/Public/app/picture/1175788.png" alt="游戏动漫"></dt>
            <dd>
                <a href="javascript:;">游戏动漫</a>
            </dd>
        </dl>
    </div>
</div>

<div class="clear"></div>
<div class="fixed_bottom w100 clearfix" style="background: #bbb">
    <ul class="in_title1 w96 clearfix">
        <li class="current"><a href="__APP__/Policy/industry.html">主导产业</a></li>
        <li><a href="__APP__/Policy/double.html">双创政策</a></li>
        <li><a href="__APP__/Policy/index.html">产业政策</a></li>
        
    </ul>
</div>
<include file="Public:footer"/>
</body>
</html>
