<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <include file="Public:header" />
    <title>{$mess.title} - 服务中心 -  黔北酒乡网</title>
</head>

<body>
    <div class="top">
        <include file="Public:nav" />
    </div>
    <div class="box-ntop" style="background-image: url({$banner});background-color: #4D70B4"></div>
    <div class="box-n-1200">
        <div class="zuobian tyyj-gy">
            <div class="list-title yuanjiao">服务中心</div>
            <ul>
                <volist name="cate" id="v">
                <li class="dangqian"><span class="iocyb">&gt;</span><a  <if condition="$v.type eq 1">href="__APP__/Home/Service/consult/cid/{$v.id}"<else/>href="__APP__/Home/Service/index/cid/{$v.id}"</if> >{$v.cname}</a></li>
                </volist>
                <li class="dangqian"><span class="iocyb">&gt;</span><a href="__APP__/Home/Service/consult">在线咨询</a></li>
            </ul>
        </div>
        <div class="youbian tyyj-gy" style="min-height:800px">
            <div class="y_title">
                <a href="/">首页</a><span> &gt; </span><a href="__APP__/Home/Service/index">服务中心</a>  > {$mess.title}
            </div>
            <div class="wz-title">
                <h1>{$mess.title} </h1>
                <!-- <div style="font-size: 12px;line-height: 30px;text-align: center;margin-right: auto;margin-left: auto;"> 发布时间：{$mess.news_time|date="Y-m-d H:i:s",###} &nbsp;&nbsp; 来源：黔北酒乡网 &nbsp;&nbsp; </div> -->
            </div>
            <div class="wz-box">
                {$mess.content}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="dibu">
        <include file="Public:footer" />
    </div>
</body>

</html>