<header class="w100">
    <div class="logo fl" style="height: 54px;line-height: 54px;"><a href="/">
        <!-- <img src="/Public/static/zhanweitupian.png" style="height: 30px;width: auto;" /> -->
        <h1 style="text-align: center;font-size: 20px;">黔北酒乡网</h1>
    </a></div>
    <div class="iphone style-1">
        <div class="iphone__screen"> <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
            <nav class="nav" style="">
                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link"><a href="/" style="color: white;">首页</a></i></div>
                        
                    </li>
                    <li>
                        <div class="link">白酒专供<i class="fa fa-angle-down"></i></div>
                        <ul class="submenu">
                            <li><a href="__APP__/About/index.html">推荐分类</a></li>
                            <li><a href="__APP__/About/honor.html">原浆酒</a></li>
                            <li><a href="__APP__/About/honor.html">台酿盛宴</a></li>
                            <li><a href="__APP__/About/honor.html">定制系列</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">白酒文化<i class="fa fa-angle-down"></i></div>
                        <ul class="submenu">
                            <li><a href='__APP__/News/index.html'>白酒历史</a></li>
                            <li><a href='__APP__/News/index.html'>白酒养生</a></li>
                            <li><a href='__APP__/News/index.html'>白酒勾兑/a></li>
                            <li><a href='__APP__/News/index.html'>白酒入药</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">酒乡动态<i class="fa fa-angle-down"></i></div>
                        <ul class="submenu">
                            <li><a href='__APP__/News/index.html'>行业资讯</a></li>
                            <li><a href='__APP__/News/index.html'>公司动态</a></li>
                            <li><a href='__APP__/News/index.html'>通知公示</a></li>
                            <li><a href='__APP__/News/index.html'>招聘启示</a></li>
                        </ul>
                    </li>
                   
                    <li>
                        <div class="link">白酒代理<i class="fa fa-angle-down"></i></div>
                        <ul class="submenu">
                            <li><a href='__APP__/Policy/industry.html'>招商合作</a></li>
                            <li><a href='__APP__/Policy/double.html'>关于我们</a></li>
                            <li><a href='__APP__/Policy/index.html'>联系方式</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- header end -->